@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;600;700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #f84565;
  --color-primary-dull: #d63854;
  --color-background: #09090b;
}

* {
  font-family: "Be Vietnam Pro", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #d78777 #1e1e1e;
}

body {
  color: white;
  background-color: #09090b;
  /* background-color: #918f8f; */
  /* background-image: url("./assets/"); */
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none.;
}

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

@keyframes marquee-once {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

@layer utilities {
  .animate-marquee-once {
    animation: marquee-once 15s linear forwards;
  }
}
